#update {
  min-height: 100vmin;
  background-color: #343a40 !important;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  box-sizing: border-box;
  height: 500px;
  width: 900px;
  background-color: #343a40;
  border: solid 1px #2a98b8;
  border-radius: 15px;
}
