<section id="profile">
  <div class="details shadow p-5 text-center text-info">
    <div class=" contect">
      <div class="name">
        <h1>{{ firstname }} {{ lastname }}</h1>
        <a class="btn btn-outline-info text-center edit-name" href="">Edit Name</a>
      </div>
      <hr class="my-5 bg-info" />
      <div class="email">
        <h3>{{ email }}</h3>
        <a class="btn btn-outline-info text-center edit-email" href="">Edit Email</a>
      </div>
      <hr class="my-5 bg-info" />
      <div class="password">
        <h4>Password</h4>
        <a class="btn btn-outline-info text-center edit-password" href="">Change Password</a>
      </div>
      <hr class="my-5 bg-info" />
      <div class="notes">
        <h3>Your notes count is : 30</h3>
      </div>
    </div>
  </div>
</section>
